[Unit]
Description=callhome with host address

[Service]
EnvironmentFile=/etc/sysconfig/callhome
ExecStart=/usr/local/libexec/callhome --redis-host $REDIS_HOST
User=daemon

[Install]
WantedBy=multi-user.target
